root = true

[*.{yaml,sh}]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.sh]
max_line_length = 80
indent_size = 4

[*.yaml]
indent_size = 2

[lava_test_plans/**.jinja2]
indent_style = space
indent_size = 4
