{% block flash_revpi %}
{# Deploy LXC container #}
{% set deploy_to = "lxc" %}
{% set namespace = "tlxc" %}
{% set os = "debian" %}
{% set packages = ["iputils-ping", "netcat-traditional", "usbutils", "fdisk", "xz-utils", "zstd"] %}
{% set timeout_minutes = 5 %}
{% include "include/actions/deploy.jinja2" %}

{# Boot LXC container #}
{% set boot_method = "lxc" %}
{% set namespace = "tlxc" %}
{% set boot_prompts = ["'root@(.*):/#'"] %}
{% set timeout_minutes = 5 %}
{% include "include/actions/boot.jinja2" %}

{# Deploy recovery image #}
{% set deploy_to = "recovery" %}
{% set connection_namespace = "tlxc" %}
{% set namespace = "recovery" %}
{% set recovery_image_url = "https://artifactory.kunbus.com:443/artifactory/revpi-release-images/250801/bookworm/250801-revpi-bookworm-arm64-lite.img.zst" %}
{% set os = "debian" %}
{% set packages = "" %}
{% set timeout_minutes = 10 %}
{% include "include/actions/deploy.jinja2" %}

{# Boot recovery #}
{% set boot_method = "recovery" %}
{% set boot_commands = "recovery" %}
{% set boot_prompts = "" %}
{% set namespace = "recovery" %}
{% set timeout_minutes = 5 %}
{% include "include/actions/boot.jinja2" %}

{# Test: Auto programming device #}
{% set namespace = "tlxc" %}
{% set timeout_minutes = 30 %}
{% set test_definitions = [
    {
        "repository": "https://gitlab.com/revolutionpi/infrastructure/testing/LAVA-test-definitions.git",
        "from": "git",
        "path": "automated/deployment/lava_prog_device.yaml",
        "name": "auto-programming-device"
    }
] %}
{% include "include/actions/test.jinja2" %}

{# Boot recovery exit #}
{% set boot_method = "recovery" %}
{% set boot_commands = "exit" %}
{% set namespace = "recovery" %}
{% set timeout_minutes = 5 %}
{% include "include/actions/boot.jinja2" %}

{# Command: Factory reset #}
{% set command_name = "run_factory_reset" %}
{% set namespace = "recovery" %}
{% set timeout_minutes = 5 %}
{% include "include/actions/command.jinja2" %}

{# Command: Timeout power off #}
{% set command_name = "timeout_power_off" %}
{% set namespace = "recovery" %}
{% set timeout_minutes = 5 %}
{% include "include/actions/command.jinja2" %}

{% endblock flash_revpi %}
