{% include "include/common/timeouts.jinja2" %}
{% include "include/common/job-metadata.jinja2" %}
{% include "include/common/protocols.jinja2" %}
{% include "include/common/notifications.jinja2" %}

tags: [{{ TAGS }}]

actions:
{% block actions %}

{% block flash_revpi %}
{% include "include/flash-revpi.jinja2" %}
{% endblock flash_revpi %}

{% block test_revpi %}
{% include "include/test-revpi.jinja2" %}
{% endblock test_revpi %}

{% endblock actions %}
